{
    "require": [
      "babel-register",
      "isomorphic-fetch"
    ],
    "include": [
      "src/**/*.js"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "sourceMap": false,
    "instrument": false
}
