{
    "require": [
      "babel-register",
      "isomorphic-fetch",
      "babel-polyfill"
    ],
    "include": [
      "src.js"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "sourceMap": false,
    "instrument": false
}
